* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans","Helvetica","sans-serif";
}

.container {
  position: relative;
  width: 400px;
  height: 400px;
  background: linear-gradient(to top right, #edd4c4, #786450);
  margin: 100px auto;
  box-shadow: 1px 2px 14px 0 rgba(0, 0, 0, 0.3);
}

.card {
  border-radius: 5px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 300px;
  width: 320px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow: 7px 7px 26px 0 rgba(0, 0, 0, 0.5);
}

main {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  background-color: #eee;
  flex: 5 1 0;
  text-align: center;
}

.social {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex: 3 1 0;
  background-color: #eee;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99px;
  width: 100%;
  background-color: #edd4c4;
  transition: all .4s ease;
  cursor: pointer;
}

.box:hover {
  background-color: #e5c4ac;
}

.box:first-of-type {
  border-top-right-radius: 5px;
}

.box:last-of-type {
  border-bottom-right-radius: 5px;
}

.avatar {
  margin-top: 36px;
}

.circles:hover {
  cursor: pointer;
}

.circles:hover .circle-2 {
  transform: rotate(-360deg);
}

.circles:hover .circle-1 {
  transform: rotate(360deg);
}

.circle-1, .circle-2 {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}

.circle-1 {
  left: 62px;
  top: 33px;
  width: 76px;
  height: 76px;
  border-color: #786450 #786450 #786450 transparent;
  transition: all 1s ease-in-out;
}

.circle-2 {
  left: 58px;
  top: 29px;
  width: 84px;
  height: 84px;
  border-color: #786450 transparent #786450 #786450;
  transition: all 1s ease-in-out;
}

img {
  border-radius: 50%;
}

.name {
  letter-spacing: 0.5px;
  margin-top: 20px;
  font-weight: 600;
  color: #786450;
  font-size: 15px;
}

.occupation {
  color: #786450;
  font-weight: 100;
  font-size: 12px;
}

.buttons {
  margin-top: 36px;
}

button {
  width: 120px;
  height: 30px;
  font-size: 12px;
  margin: 0 auto;
  border-radius: 20px;
  color: #786450;
  font-weight: 700;
  background-color: #eee;
  border: 1px solid #786450;
  transition: all .4s ease;
}

button:hover {
  background-color: #786450;
  color: #eee;
}

button:last-child {
  margin-top: 10px;
}

span, button {
  display: block;
}

.number {
  color: #786450;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
}

.definition {
  color: #786450;
  font-weight: 200;
  font-size: 12px;
  text-align: center;
}
