//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 600px;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #00b982;
  top: 100px;
  margin: 0 auto;
  box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.2);
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    cursor: pointer;
  }
}

.bar {
  width: 80px;
  height: 8px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

.middle {
  margin: 14px 0;
}

.no-animation {
  .bar {
    animation: none;
  }
}

.icon.active {
  .middle {
    animation: shrink .7s ease-out forwards;
  }

  .top {
    animation: barDown .7s ease-in-out forwards;
  }

  .bottom {
    animation: barUp .7s ease-in-out forwards;
  }

}

.middle {
  animation: shrink-reverse .7s ease-out forwards;
}

.top {
  animation: barDown-reverse .7s ease-in-out forwards;
}

.bottom {
  animation: barUp-reverse .7s ease-in-out forwards;
}

@keyframes barDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(22px) rotateZ(0deg);
  }
  100% {
    transform: translateY(22px) rotateZ(45deg);
  }
}

@keyframes barUp {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-22px) rotateZ(0deg);
  }
  100%{
    transform: translateY(-22px) rotateZ(135deg);
  }

}

@keyframes shrink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes shrink-reverse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes barDown-reverse {
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(22px) rotateZ(0deg);
  }
  0% {
    transform: translateY(22px) rotateZ(45deg);
  }
}

@keyframes barUp-reverse {
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-22px) rotateZ(0deg);
  }
  0%{
    transform: translateY(-22px) rotateZ(135deg);
  }

}
