* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 100px auto;
  width: 400px;
  height: 400px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column;
  background: #22233C;
  box-shadow: 4px 6px 14px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.animation-container {
  overflow: hidden;
  position: relative;
  flex: 3 1 0;
}

.weather {
  flex: 1 1 0;
  background: #fff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: column;
  color: #333;
}

.weather .degrees {
  flex: 2 0 0;
  padding-left: 20px;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: -2px;
}

.weather .weather-info {
  flex: 7 0 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

.weather .weather-info span {
  display: block;
}

.weather .weather-info .weather-forecast {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 30px;
}

.weather .weather-info .weather-forecast strong {
  font-weight: 400;
}

.moon {
  position: absolute;
  top: 35px;
  left: 55px;
  width: 70px;
  height: 70px;
  background: #f6edbd;
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(246, 237, 189, 0.2);
  overflow: hidden;
  animation: moon 1s ease-out forwards;
}

.crater-1, .crater-2, .crater-3, .crater-4, .crater-5, .crater-6, .crater-7, .crater-8, .crater-9, .crater-10 {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
}

.crater-2 {
  top: 55px;
  left: 30px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.crater-3 {
  top: 55px;
  left: 50px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.crater-4 {
  top: 45px;
  left: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.crater-5 {
  top: 25px;
  left: 15px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.crater-6 {
  top: 35px;
  left: 35px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.crater-7 {
  top: 41px;
  left: 25px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.crater-8 {
  top: 15px;
  left: -3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.crater-9 {
  top: 15px;
  left: 48px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.crater-10 {
  top: 35px;
  left: 50px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.bg-hill-1 {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  top: 180px;
  left: -50px;
  background: #2D2F51;
}

.bg-hill-2 {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  top: 180px;
  left: 180px;
  background: #2D2F51;
}

.front-hill-1 {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  top: 240px;
  left: -150px;
  background: #36385F;
}

.front-hill-2 {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  top: 210px;
  left: 60px;
  background: #36385F;
}

.front-hill-3 {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  top: 250px;
  left: 260px;
  background: #36385F;
}

.drop-big-1, .drop-big-2, .drop-big-3, .drop-big-4, .drop-big-5, .drop-big-6, .drop-big-7, .drop-big-8 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #7fc1f9;
  border-radius: 50%;
  top: -22px;
  left: 180px;
  animation: big-drop .8s infinite linear;
}

.drop-big-1::before, .drop-big-2::before, .drop-big-3::before, .drop-big-4::before, .drop-big-5::before, .drop-big-6::before, .drop-big-7::before, .drop-big-8::before {
  content: "";
  position: absolute;
  background: #7fc1f9;
  width: 10px;
  height: 12px;
  top: -9px;
  left: 0px;
  border-radius: 3px;
  clip-path: polygon(80% 0%, 100% 100%, 2% 100%);
}

.drop-big-2 {
  left: 30px;
  animation-delay: .13s;
}

.drop-big-3 {
  left: 90px;
  animation-delay: .22s;
}

.drop-big-4 {
  left: 260px;
  animation-delay: .51s;
}

.drop-big-5 {
  left: 345px;
  animation-delay: .42s;
}

.drop-big-6 {
  left: 410px;
  animation-delay: .35s;
}

.drop-big-7 {
  left: 120px;
  animation-delay: .26s;
}

.drop-big-8 {
  left: 220px;
  animation-delay: .18s;
}

.drop-small-1, .drop-small-2, .drop-small-3, .drop-small-4, .drop-small-5, .drop-small-6, .drop-small-7 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #7fc1f9;
  border-radius: 50%;
  top: -22px;
  left: 180px;
  transform: scale(0.4);
  opacity: 0.4;
  animation: small-drop 1.5s infinite linear;
}

.drop-small-1::before, .drop-small-2::before, .drop-small-3::before, .drop-small-4::before, .drop-small-5::before, .drop-small-6::before, .drop-small-7::before {
  content: "";
  position: absolute;
  background: #7fc1f9;
  width: 10px;
  height: 12px;
  top: -9px;
  left: 0px;
  border-radius: 3px;
  clip-path: polygon(80% 0%, 100% 100%, 2% 100%);
}

.drop-small-2 {
  left: 290px;
  animation-delay: .52s;
}

.drop-small-3 {
  left: 190px;
  animation-delay: .16s;
}

.drop-small-4 {
  left: 120px;
  animation-delay: .83s;
}

.drop-small-5 {
  left: 405px;
  animation-delay: .77s;
}

.drop-small-6 {
  left: 40px;
  animation-delay: .13s;
}

.drop-small-7 {
  left: 325px;
  animation-delay: .49s;
}

@keyframes moon {
  0% {
    transform: translate(-10px, 180px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.drop-medium-1, .drop-medium-2, .drop-medium-3, .drop-medium-4, .drop-medium-5, .drop-medium-6 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #7fc1f9;
  border-radius: 50%;
  top: -22px;
  left: 180px;
  transform: scale(0.6);
  opacity: 0.6;
  animation: medium-drop 1.25s infinite linear;
}

.drop-medium-1::before, .drop-medium-2::before, .drop-medium-3::before, .drop-medium-4::before, .drop-medium-5::before, .drop-medium-6::before {
  content: "";
  position: absolute;
  background: #7fc1f9;
  width: 10px;
  height: 12px;
  top: -9px;
  left: 0px;
  border-radius: 3px;
  clip-path: polygon(80% 0%, 100% 100%, 2% 100%);
}

.drop-medium-2 {
  left: 287px;
  animation-delay: .1s;
}

.drop-medium-3 {
  left: 420px;
  animation-delay: .23s;
}

.drop-medium-4 {
  left: 376px;
  animation-delay: .36s;
}

.drop-medium-5 {
  left: 247px;
  animation-delay: .54s;
}

.drop-medium-6 {
  left: 105px;
  animation-delay: .31s;
}

@keyframes big-drop {
  70% {
    transform: translate(-40px, 310px) scaleX(1) scaleY(1) rotate(0deg);
  }
  100% {
    transform: translate(-40px, 320px) scaleX(3) scaleY(0) rotate(20deg);
  }
}

@keyframes small-drop {
  70% {
    transform: translate(-40px, 310px) scaleX(1) scaleY(1) rotate(0deg) scale(0.4);
  }
  100% {
    transform: translate(-40px, 325px) scaleX(3) scaleY(0) rotate(20deg) scale(0.4);
  }
}

@keyframes medium-drop {
  70% {
    transform: translate(-40px, 310px) scaleX(1) scaleY(1) rotate(0deg) scale(0.6);
  }
  100% {
    transform: translate(-40px, 322px) scaleX(3) scaleY(0) rotate(20deg) scale(0.6);
  }
}
