// Guided myself for that tricky spinner with Paul Hendersons pen https://codepen.io/pkh1162/pen/wPMoLd

$color: #222;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 100px auto;
  width: 400px;
  height: 400px;
  box-shadow: 3px 5px 16px rgba(0,0,0,0.3);
  background: lighten(#222, 15);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  overflow: hidden;
}

.info {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
}

.date {
  position: absolute;
  top: 60px;
  // left: 50px;
  font-size: 12px;
}
.time {
  position: absolute;
  top: 80px;
  line-height: 40px;
  font-size: 40px;
  font-weight: 900;
}

.cardio {
  position: absolute;
  top: 122px;
  font-size: 12px;

  .heart-rate {
    margin-right: 10px;
  }

  .fa-heart {
    color: red;
    animation: heart-beat 1s linear infinite;
    transition: all 1s;
  }
}

@keyframes heart-beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.timer {
  position: relative;
  width: 200px;
  height: 200px;
  background: #222;
  border-radius: 50%;
  box-shadow: 0 0 0 7px rgba(0,0,0, .2);

  &:after {
    position: absolute;
    top: 9px;
    left: 9px;
    content: '';
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: 4px dotted #fff;
    transform: rotate(180deg);

  }
}
.mask {
  z-index: 2;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  // background: green;
}
.spin {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: pink;
  border-radius: 50%;
  border: 2px solid red;
  animation: rotate 6s linear infinite;
}

.m1 {
  clip-path: inset(0% 0% 0% 50%);
}

.m2 {
  clip-path: inset(0% 50% 0% 0%);
}

.sp1 {
  clip-path: inset(0% 50% 0% 0%);
}

.sp2 {
  clip-path: inset(0% 0% 0% 50%);
  animation-delay: 1.5s;
}


@keyframes rotate {
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg)
  }
  100% {
    transform: rotate(360deg);
  }
}
